.pdetails{
    transition: .5s ease;
    cursor: pointer;
}
.pdetails:hover{
    color: white;
}

.pdetailsCart{
    color: white;
    transition: .5s ease;
}

.pdetailsCart:hover{
    color: black;
}

.psearch{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .psearch{
        display: block;
    }
}