
.cart{
    border-bottom: 1px solid #4d544f;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.head{
    border-bottom: 1px dotted gray;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.productDescription{
    color: gray;
    width: auto;
    word-wrap: break-word;
    margin-top: 15px;
}

